footer {
  @apply py-4 text-gray-100 bg-gray-900;
}

/*  
* Screen XS - Default
*/
.wrapper {
  @apply max-w-xs mx-auto;
}

.who-i-am {
  display: none;
}

.hero {
  @apply mx-auto py-10; 

  h1 {
    @apply text-4xl;
  }

  .about-location {
    @apply text-xl ;
  }

  .about {
    @apply text-xl text-gray-600;
  }
}

.section {
  @apply mx-auto py-10 text-xl;

  h1 {
    @apply text-3xl mb-3;
  }

  h2 {
    @apply text-3xl mb-3;
  }

  p {
    @apply mb-2;
  }

  a:not(.btn) {
    @apply text-blue-600;

    &:hover,
    &:focus,
    &:active {
      @apply underline;
    }
  }
}

.wa-img {
  @apply h-5 inline;
}

.btn {
  @apply py-2 px-4 rounded text-white;
}

.btn-blue {
  @apply bg-blue-500 text-white;

  &:hover, &:active, &:focus {
    @apply bg-blue-700;
  }
}

@screen sm {
  .wrapper {
    @apply max-w-xl mx-auto;
  }  
}

@screen md {
  .wrapper {
    @apply max-w-screen-sm mx-auto;
  }

  .hero {
    @apply mx-auto py-16;
    height: 80vh;

    .who-i-am {
      display: block;
      margin-top: 20vh;
      margin-bottom: 1rem;
    } 

    h1 {
      @apply text-4xl;
    }

    .about-location {
      @apply text-xl text-gray-700;
    }

    .about {
      @apply text-2xl text-gray-600;
    }
  }

  .section {
    @apply mx-auto py-16 text-xl;

    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl mb-3;
    }
  }
}

@screen lg {
  .wrapper {
    @apply max-w-screen-md mx-auto;
  }  
}

@screen xl {
  .wrapper {
    @apply max-w-screen-lg mx-auto;
  }  
}

/* SCSS */
.vue-typer {
  /* Styles for the vue-typer container
     e.g. font-family, font-size  */
  padding: 1rem;
  background-color: #000000;

  .custom.char {
    /* Styles for each character
       e.g. color, background-color */
    color: #efefef;

    &.typed {
      /* Styles specific to typed characters
         i.e. characters to the left of the caret */
    }
    &.selected {
      /* Styles specific to selected characters
         i.e. characters to the right of the caret while VueTyper's
              'eraseStyle' is set to a selection-based style */
      background-color: #2e5a86;
    }
    &.erased {
      /* Styles specific to erased characters
         i.e. characters to the right of the caret while VueTyper's
              'eraseStyle' is set to a non-selection-based style */
    }
  }
 
  .custom.caret {
    /* Styles for the caret
       e.g. background-color, animation, display */
    background-color: white;
    width: .25rem;
 
    &.pre-type {
      /* Styles for the caret when it is idle before typing
         i.e. before a string starts being typed, during 'preTypeDelay' */
    }
    &.pre-erase {
      /* Styles for the caret when it is idle before erasing
         i.e. before a string starts being erased, during 'preEraseDelay' */
    }
    &.idle {
      /* Styles for the caret when it is idle, but VueTyper has not yet completed typing
         i.e. when 'pre-type' or 'pre-erase' is set, but not 'complete' */
    }
    &.typing {
      /* Styles for the caret while VueTyper is typing
         i.e. when the caret is moving forwards */
    }
    &.selecting {
      /* Styles for the caret while VueTyper is selecting
         i.e. when the caret is moving backwards and 'eraseStyle' is
         set to a selection-based style */
    }
    &.erasing {
      /* Styles for the caret while VueTyper is erasing
         i.e. when the caret is moving backwards and 'eraseStyle' is
         set to a non-selection-based style */
    }
    &.complete {
      /* Styles for the idle caret when VueTyper has finished all typing/erasing */
    }
  }
}